.container {
    margin: 5% auto;
}

.container h2 {
    margin-bottom: 5%;
    text-align: center;
}

.col-md-3 {
    margin-bottom: 1%;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 5vh;
}

.modal-dialog{
    overflow-y: initial !important
}

.modal-body {
    height: 93.5vh;
    overflow-y: auto;
    padding-top: 0;
}

.modal-open {
    width: 100%;
}

#pdf-modal {
    padding-right: 0 !important;
}

iframe {
    display: block;
    background: #000;
    border: none;
    height: 100%;
    width: 97vw;
}